{% extends 'main/base.html' %}

{% block title %}Connexion{% endblock %}

{% block content %}
<div class="card p-4 mx-auto" style="max-width: 500px;">
    <h2 class="mb-4 text-center">Connexion à votre compte</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary w-100">Se connecter</button>
    </form>
    <div class="mt-3 text-center">
        <p>Pas encore de compte ? <a href="{% url 'signup' %}">Créer un compte</a></p>
    </div>
</div>
{% endblock %}
